<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.jokajak.worklog</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>254793C1-8BEB-47A3-B1B5-037F3F6B2333</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9974F508-20FC-4F4A-BEA3-49BAA8644AD9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>324A1373-B50B-427F-9308-7F3263F0E50B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>254793C1-8BEB-47A3-B1B5-037F3F6B2333</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>812F765B-F8DA-4986-94D0-03E9A4DC3008</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>324A1373-B50B-427F-9308-7F3263F0E50B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9974F508-20FC-4F4A-BEA3-49BAA8644AD9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>21EDD989-F015-448A-8D1C-2B2524092FB6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E76FC0C3-08D1-4211-AE17-AA25CF3C2614</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>812F765B-F8DA-4986-94D0-03E9A4DC3008</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jokajak</string>
	<key>description</key>
	<string>Use "worklog" followed by your task</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Worklog</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<false/>
				<key>allowemptyfiles</key>
				<false/>
				<key>createintermediatefolders</key>
				<true/>
				<key>filename</key>
				<string>~/git/personal/worklog/{var:filename}.md</string>
				<key>filetext</key>
				<string>- {var:task}</string>
				<key>relativepathmode</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>254793C1-8BEB-47A3-B1B5-037F3F6B2333</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>worklog</string>
				<key>subtext</key>
				<string>What work to log</string>
				<key>text</key>
				<string>Log a Task</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E76FC0C3-08D1-4211-AE17-AA25CF3C2614</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:task}</string>
				<key>title</key>
				<string>Work logged</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>9974F508-20FC-4F4A-BEA3-49BAA8644AD9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>filename</key>
					<string>{date:yyyyMMdd}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>324A1373-B50B-427F-9308-7F3263F0E50B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.hidealfred</string>
			<key>uid</key>
			<string>21EDD989-F015-448A-8D1C-2B2524092FB6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>task</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>812F765B-F8DA-4986-94D0-03E9A4DC3008</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This simple workflow lets you add tasks to to-do lists, using a separate text file for each list.

Type "todo" followed by your task, then choose a to-do list, or type "vtodo" to view the list of your choice.

CHANGING DEFAULTS

To-do lists location: The workflow saves your to-do lists in ~/Documents/Alfred/todos/ but you can change the path in the Workflow Environment Variables window.

Lists names: These are "Work", "Home" and "Waiting For" by default. You can change them in the List Filter object within the workflow.</string>
	<key>uidata</key>
	<dict>
		<key>21EDD989-F015-448A-8D1C-2B2524092FB6</key>
		<dict>
			<key>xpos</key>
			<integer>755</integer>
			<key>ypos</key>
			<integer>165</integer>
		</dict>
		<key>254793C1-8BEB-47A3-B1B5-037F3F6B2333</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>7. The Append To File output appends the to-do text (moved into a variable called "todo" in the orange object) to the appropriate list.</string>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
		<key>324A1373-B50B-427F-9308-7F3263F0E50B</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>165</integer>
		</dict>
		<key>812F765B-F8DA-4986-94D0-03E9A4DC3008</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>2. The Arg/Var utility moves your task (the query) to a variable called "todo" until it's needed later in the green path.</string>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>165</integer>
		</dict>
		<key>9974F508-20FC-4F4A-BEA3-49BAA8644AD9</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>8. The Post Notification output lets you know that the task has been added through the Notification Center.</string>
			<key>xpos</key>
			<integer>585</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
		<key>E76FC0C3-08D1-4211-AE17-AA25CF3C2614</key>
		<dict>
			<key>note</key>
			<string>1. This object sets the keyword you use to start adding a new task to your to-do list. Type "todo" followed by your task (e.g. "todo bake a cake")</string>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>path</key>
		<string>~/Documents/Alfred/todos/</string>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.1</string>
	<key>webaddress</key>
	<string>https://www.alfredapp.com</string>
</dict>
</plist>
